.cards{
	text-align: left;
	margin: 30px auto 30px;
}

.cards-1{
	max-width: 550px;
}

.card{
	background: #FFF;
	padding: 20px;
	margin: 20px;
}

.card-header{
	text-align: center;
	margin-bottom: 20px;
}

.card-img{
	min-height: 120px;
	text-align: center;
	
	margin-bottom: 20px;
	background: #f6f7f8;
}
